@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

b{
	font-weight: normal;
	font-variant: small-caps;
}

blockquote header{
	margin-bottom: 1em;
}


p[epub|type~="z3998:salutation"] + p,
blockquote header p{
	text-indent: 0;
}

p.signature{
	text-align: right;
}

.signature,
blockquote header.express p{
	font-variant: small-caps;
}

[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] br{
	display: none;
}
